<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.odk.manage.android"
      android:versionCode="1"
      android:versionName="1.0">
      
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Light">
    
    <receiver android:enabled="true" android:name="IntentReceiver">
      <intent-filter>
        <action android:name="android.net.wifi.WIFI_STATE_CHANGED"></action>
        <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
        <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED"/>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
        <action android:name="android.intent.action.BOOT_COMPLETED"></action>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REMOVED"/>
        <action android:name="android.intent.action.PACKAGE_ADDED"/>
        <data android:scheme="package"/>
      </intent-filter>
    </receiver>
        
    <activity android:name=".activity.ManageActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    
    <activity android:name=".activity.PreferencesActivity">
    </activity>
    
    <service android:name="OdkManageService"/>
    
  </application>
       
  <uses-sdk android:minSdkVersion="3" />
  
  <uses-permission android:name="android.permission.RECEIVE_SMS"/>
  <uses-permission android:name="android.permission.SEND_SMS"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
  
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
  
</manifest> 