<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ODK_Manage.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>org.google.android.odk.manage.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/odk_manage/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>taskListServlet</servlet-name>
    <servlet-class>org.google.android.odk.manage.server.TaskListServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>taskListServlet</servlet-name>
    <url-pattern>/tasklist</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>org.google.android.odk.manage.server.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>addTaskServlet</servlet-name>
    <servlet-class>org.google.android.odk.manage.server.AddTaskServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>addTaskServlet</servlet-name>
    <url-pattern>/addTask</url-pattern>
  </servlet-mapping>

</web-app>
